{% load widget_tweaks %}
{% csrf_token %}

{% for field in form %}
    <p><label for="{{ field.id_for_label }}">{{ field.label }}
        {% if field.field.required %}
            <span class="form-required">*</span>
        {% endif %}</label></p>
    {% if field.errors %}
        <p>{{ field|add_class:'field-error'}}</p>
    {% else %}
        <p>{{ field }}</p>
    {% endif %}
    {% for error in field.errors %}
        <p class="form-error">{{ error }}</p>
    {% endfor %}
{% endfor %}
<p><input type="submit" value="{{ button_text }}" id="input" class="btn btn-primary"></p>
