{% extends 'base.html' %}
{% block menu %}
           <li><a href="{% url 'status_add' %}">Add New Status</a></li>
{% endblock %}
{% block content %}
<h1 class="text-center">Statuses:</h1>
    <p><a href="{% url 'status_add' %}">Add New Status</a></p>
    {% for stat in status %}
        <div>{{ stat.status }}</div>
        <p><a href="{% url 'status_update' stat.pk %}">Edit</a></p>
        <p><a href="{% url 'status_delete' stat.pk %}">Delete</a></p>
        <hr/>
    {% endfor %}
{% endblock %}
</body>
</html>