{% extends 'base.html' %}

{% block menu %}
           <li><a href="{% url 'task_create' %} ">Add Task</a></li>
           <li><a href="{% url 'status_list' %}">Status List</a></li>
           <li><a href="{% url 'type_list' %}">Type List</a></li>
           <li><a href="{% url 'project_list' %}">Project List</a></li>


{% endblock %}
{% block content %}
<h1 class="text-center">Tasks:</h1>
    {% include 'partial/simple_search.html' %}
    {% if  is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    {% for task in tasks %}
        <h2>{{ task.title }}</h2>
        <div>{{ task.summary }}</div>
        <p><a href="{% url 'task_view' task.pk %}">More...</a></p>
        <p><a href="{% url 'task_update' task.pk %}">Edit</a></p>
        <p><a href="{% url 'task_delete' task.pk %}">Delete</a></p>
        <hr/>
    {% endfor %}
{% endblock %}
</body>
</html>
