{% extends 'base.html' %}
{% block title %}Project{% endblock %}
{% block menu %}
        <li><a href="{% url 'project_update' projects.pk %}">Edit</a></li>
        <li><a href="{% url 'project_delete' projects.pk %}">Delete</a></li>

{% endblock %}
{% block content %}
    <h1>{{ projects.name }}</h1>
    <p>Description projects:  <b>{{ projects.description }}</b> </p>
    <h3 class="text-center">Задачи проеката:</h3>
    {% for task in tasks %}
        <a href="{% url 'task_view' task.pk  %}"><p>{{ task.summary }}</p></a>
        <hr/>
    {% endfor %}
    <h4>Дата создания:</h4>
    <p>{{ projects.created_at|date:'Y-m-d' }}</p>
{% endblock %}

